main{
    width: 80%;
    margin: 0 auto;
}
.hero{
    width: 100%;
}
.hero img{
    width: 100%;
}
.container{
    padding-top: 20px;
    margin: 0;
}
.card-columns{
    display: flex;
    flex-wrap: wrap;
}
.card-hotel{
    display: flex;
    flex: 1 150px;
    justify-content:space-between;
    flex-direction: column;
    padding: 2px 5px;
    margin: 5px;
}
.card-img{
    margin: 10px 0;
}
.card-text{
    margin-top: 20px;
}
.btn-reserve{
    width: 100%;
    border-radius: 5px;
}
.price-table{
    text-align: center;
}
footer{
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(73, 73, 73);
    color: white;
}
.social-media{
    display: flex;
    flex-direction: column;
}
.social-media a{
    text-decoration: none;
    color: white;
}
address{
    align-items: center;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.about a{
    text-decoration: none;
    color: white;
}